header {
    top: 0;
    position: sticky;
    margin-top: 25px;
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .profil {
        display: flex;
        align-items: center;
        gap: 15px;
        position: relative;

        .gamertag {
            display: flex;
            align-items: center;
            gap: 12px;
        }

        .gamerscore {
            display: flex;
            align-items: center;
            gap: 10px;

            svg {
                margin-bottom: 4px;
            }
        }

        .info__gaming {
            opacity: 1;
            transition: all 0.5s ease-in;
        }
    }
    .gamerpic {
        height: 55px;
        width: 55px;
        border-radius: 50%;
        position: relative;

        img {
            height: 55px;
            width: 55px;
            border-radius: 50%;
        }

        &::after {
            position: absolute;
            height: 65px;
            width: 65px;
            border-radius: 50%;
            border: transparent 3px solid;
            content: '';
            left: -5px;
            top: -5px;
            box-shadow: 0 0 10px 0 transparent;
            transition: all 0.2s ease-in;
        }
        &:focus::after,
        &:hover::after {
            display: block;
            border: var(--color-primary) 3px solid;
            box-shadow: 0 0 10px 0 var(--color-primary);
        }
    }

    nav {
        ul {
            list-style: none;
            display: flex;
            padding: 0;
            align-items: center;
            gap: 30px;

            li {
                border-radius: 50%;
                padding: 10px;
                position: relative;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                transition: all 0.2s ease-in;

                .stroke {
                    height: 30px;
                    width: 30px;
                    transition: all 0.2s ease-in;
                }

                .fill {
                    position: absolute;
                    top: 12px;
                    left: 12px;
                    opacity: 0;
                    height: 35px;
                    width: 35px;
                    transition: all 0.2s ease-in;
                }
                &:focus,
                &:hover {
                    .fill {
                        opacity: 1;
                    }

                    .stroke {
                        opacity: 0;
                    }
                }

                &::before {
                    position: absolute;
                    inset: 0;
                    content: '';
                    background: rgba(0, 0, 0, 0.3);
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    z-index: -1;
                    transition: all 0.2s ease-in;
                }

                &:hover::before {
                    height: 60px;
                    width: 60px;
                }

                &::after {
                    position: absolute;
                    height: 70px;
                    width: 70px;
                    border-radius: 50%;
                    border: transparent 3px solid;
                    content: '';
                    left: -5px;
                    top: -5px;
                    box-shadow: 0 0 10px 0 transparent;
                    transition: all 0.2s ease-in;
                }
                &:focus::after,
                &:hover::after {
                    display: block;
                    border: var(--color-primary) 3px solid;
                    box-shadow: 0 0 10px 0 var(--color-primary);
                }
            }
        }
    }

    .autres {
        display: flex;
        align-items: center;
        gap: 25px;

        h5 {
            letter-spacing: 3.5px;
        }
    }

    .info__personnel {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 70px;
        gap: 14px;
        opacity: 0;
        bottom: 5px;
        transition: all 0.5s ease-in;
    }
}

footer {
    text-align: center;
}
