/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Comfortaa', sans-serif;
    --font-secondary: 'Archivo', monospace;

    --font-size-content: 1.2rem;

    /// Grosseur des textes
    --font-size-h1: 4rem;
    --font-size-h2: 2.6rem;
    --font-size-h3: 2.4rem;
    --font-size-h4: 2rem;
}
